/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid black;
}
.flex-container{
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    justify-content: center;
}
.footer-flex{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

/* header */
header{
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    text-align: end;
}
.speaker, .triarrow{
    display: inline-block;
    background-color: #646464;
    padding: 3px 8px;
    border-radius: 3px;
    margin: 12px 0;
}
.fa-solid.fa-table-cells{
    padding-right: 3px;
}
header a{
    color: white;
    text-decoration: none;
}
/* main */
main{
    margin-top: 50px;
    margin-bottom: 80px;
    background-color: black;
}
.single-card{
    position: relative;
}
.imgtext{
    position: absolute;
    bottom: 5px;
    left: 0px;
    padding: 3px 5px;
    background-color: rgba(0,0,0,0.5);
    color: white;
}
.single-card i{
    font-size: 13px;
}



/* footer */
.foot{
    position: fixed;
    height: 80px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #222222;
}
.micro{
    text-align: center;
    
}
.row-left{
    gap: 10px;
    padding-left: 10px;
}
.row-left, nav{
    color: white;
}
.row-left, .row-right{
    flex: 0 1 25%;
}
nav{
    flex: 0 1 50%;
}
nav ul.footer-flex{
    justify-content: center;
    gap: 18px;
}
div.row-right.footer-flex{
    justify-content: flex-end;  
}
ul li{
    list-style-type: none;
    text-align: center;
}
li i, .micro i{
    font-size: 25px;
}
li i, .micro i{
    margin-bottom: 7px;
}
i.fa-angle-up {
    font-size: 10px;
}
.end{
    height: 80px;
    line-height: 80px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #646464;
    color: red;
}
.fa-share-from-square{
    color: #4cba4c;
}
