/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid black;
}
.flex-container{
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    justify-content: center;
}
.footer-flex{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

/* header */
header{
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    text-align: end;
    z-index: 100;
}
.speaker, .triarrow{
    display: inline-block;
    background-color: #646464;
    padding: 3px 8px;
    border-radius: 3px;
    margin: 12px 0;
    animation: bounce-top 0.9s both;
}
.fa-solid.fa-table-cells{
    padding-right: 3px;
}
header a{
    color: white;
    text-decoration: none;
    transition: box-shadow 0.5s 0s ease;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes text-focus-in {
    0% {
    filter: blur(12px);
    opacity: 0;
    }
    100% {
    filter: blur(0px);
    opacity: 1;
    }
}
@keyframes bounce-top {
    0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
    }
    24% {
    opacity: 1;
    }
    40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
    }
    65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
    }
    82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
    }
    93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    }
    100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
    }
}
@keyframes heartbeat {
    from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
    }
    10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
    }
    17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
    }
    33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
    }
    45% {
    transform: scale(1);
    animation-timing-function: ease-out;
    }
}


/* main */
main{
    margin-top: 50px;
    margin-bottom: 80px;
    background-color: black;
}
.single-card{
    position: relative;
}
.imgtext{
    position: absolute;
    bottom: 5px;
    left: 0px;
    padding: 3px 5px;
    background-color: rgba(0,0,0,0.5);
    color: white;
}
.single-card i{
    font-size: 13px;
}
/* footer */
.foot{
    position: fixed;
    height: 80px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #222222;
    
}
.micro{
    text-align: center;
    
}
.row-left{
    gap: 10px;
    padding-left: 10px;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.row-left, nav{
    color: white;
}
.row-left, .row-right{
    flex: 0 1 25%;
}
nav{
    flex: 0 1 50%;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
nav ul.footer-flex{
    justify-content: center;
    gap: 18px;
}
div.row-right.footer-flex{
    justify-content: flex-end;  
}
ul li{
    list-style-type: none;
    text-align: center;
}
li i, .micro i{
    font-size: 25px;
}
li i, .micro i{
    margin-bottom: 7px;
}
i.fa-angle-up {
    font-size: 10px;
}
.end{
    height: 80px;
    line-height: 80px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #646464;
    color: red;
}
.fa-share-from-square{
    color: #4cba4c;
}
div.end:hover{
    animation: heartbeat 1.5s ease-in-out infinite both;
}
